html {
    background-color: #a0af8780;
    border-top: 0.5em solid var(--primary-color);
    max-width: 100%;
    text-align: center;
  }
  body {
    max-width: 20em;
    margin: auto;
    text-align: center;
  }
  ul{
    text-align: center;
  }
  li{
    text-align: center;
  }
  a {
    color: rgb(12, 12, 12);
    text-align: center;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: normal;
    font-weight: bolder;
    text-decoration: overline;
    margin: auto;
    display: block;
    block-size: 2em;
    border-block-style: double;
    text-align: center;
      
   
  }
  
  a:hover, a:active, .hover_link {
    background-color: rgba(4, 245, 24, 0.651);
  }
  
  a:focus, .focused_link {
    background-color: rgb(15, 15, 15);
    color: rgb(59, 57, 57);
    font-weight: 600;
    outline: none;
    text-align: center;
  }
  button{
    font-family: sans-serif;
    font-size: larger;
    
  
  }
  button{
    
  }
  h1{
    font-family: cursive;
    text-align: center;
    color: rgba(37, 0, 250, 0.747);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  div{
    #background-color: rgb(255, 255, 255);
    box-shadow: 10em;
    text-shadow: #0707df81;
  }
  