html {
    background-color: #10101181;
    border-top: 0.5em solid var(--primary-color);
    max-width: 100%;
    text-align: center;
  }
  body {
    max-width: 20em;
    margin: auto;
    text-align: center;
  }
  ul{
    text-align: center;
  }
  li{
    text-align: center;
  }
  a {
    color: rgba(14, 14, 13, 0.87);
    text-align: center;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: normal;
    font-weight: bolder;
    text-decoration: overline;
    margin: auto;
    display: block;
    block-size: 2em;
    border-block-style: double;
    text-align: center;
      
   
  }
  
  a:hover, a:active, .hover_link {
    background-color: rgb(4, 245, 24);
  }
  
  a:focus, .focused_link {
    background-color: rgb(7, 7, 7);
    color: rgb(59, 57, 57);
    font-weight: 600;
    outline: none;
    text-align: center;
  }
  h1{
    text-align: center;
    color: rgb(0, 255, 13);
  }
  div{
    #background-color: rgb(255, 255, 255);
    box-shadow: 10em;
    text-shadow: #0707df81;
  }