h1{
    text-align: center;
    color: seagreen;
    font-size: xx-large;
    margin-top: auto;
}
h3{
    text-align: center;
    font-size: x-large;
    
    color: black;

}

html {
    background-color: #f7f7f7;
    border-top: 0.5em solid var(--primary-color);
    max-width: 100%;
  }
  body {
    max-width: 30em;
    margin: auto;
  }
  h4{
    text-align: center;
    
   
    font-size: x-small;
    color: chartreuse;
    text-shadow: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h5{
    text-align: center;
  }
  #bird-container {
    position: absolute;
    top: -10px;
    left: -20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
    padding: 20px;
  }
a {
    color: rgba(15, 15, 14, 0.87);
    text-align: center;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: normal;
    font-weight: bolder;
    text-decoration: overline;
    margin: auto;
    display: block;
    block-size: 2em;
    border-block-style: double;
    text-align: center;
      
   
  }
  
  a:hover, a:active, .hover_link {
    background-color: rgb(4, 245, 24);
  }
  
  a:focus, .focused_link {
    background-color: rgb(7, 7, 7);
    color: rgb(59, 57, 57);
    font-weight: 600;
    outline: none;
    text-align: center;
  }
  container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    
    
}
